<div class="flex items-center space-x-3" *ngIf="isAdmin">
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <h1 class="mb-3">Reset Password</h1>
        <div class="flex rounded-xl space-x-4">
            <input name="email" ngModel type="email" required class="border-2 border-gray-200 px-4 py-2 w-80" placeholder="Enter your email">
            <button type="submit" class="px-4 text-white bg-gray-600 border-l ">
                submit
            </button>
        </div>  
        <small>We'll never share your email with anyone else.</small>
    </form>
</div>

<div *ngIf="!isAdmin">
    <h1>You don't have a permission to access the setting.</h1>
</div>